body {
    font-family: sans-serif;
    font-size: 14px;
    background: linear-gradient(45deg,
    rgba(253,149,192,1) 0%,
    rgba(195,95,204,1) 38%,
    rgba(175,104,241,1) 66%,
    rgba(175,104,241,1) 84%,
    rgba(168,125,255,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;
}

main {
    background-color: #2D3154;
    border-radius: 20px;
    margin: 0 auto;
    width: 75%;
    height: 700px;
    margin-top: 40px;
}

.plan-types ul {
    padding: 50px;
}

.plan-types ul li {
    display: inline-block;
    width: 280px;
    height: 350px;
    background-color: #ffffff;
    margin: 10px;
    border-radius: 20px;
}

.plan-types ul li h1 {
    color: #ffffff;
    font-size: 4rem;
}

.plan-types ul li h2 {
    font-size: 4rem;
    color: #2D3154;
    margin-top: 80px;
    margin-left: 40px;
    margin-bottom: 0px;
}

.plan-types ul li p {
    color: #2D3154;
    margin-left: 40px;
}

.plan-types ul li button {
    color: #2D3154;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    color: #ffffff;
    font-size: 1.5em;
    margin: 30px auto;
    display: block;

    background: linear-gradient(45deg,
    rgba(253,149,192,1) 0%,
    rgba(195,95,204,1) 38%,
    rgba(175,104,241,1) 66%,
    rgba(175,104,241,1) 84%,
    rgba(168,125,255,1) 100%) no-repeat;
}

#basic-plan {
    background-image: url(img/plan-background-basic.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#pro-plan {
    background-image: url(img/plan-background-pro.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#med-plan {
    background-image: url(img/plan-background-med.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.information {
    width: 50%;
    margin: 60px;
    color: #ffffff;
    margin-top: 0;
}

.continue {
    display: block;
    margin: 0 auto;
    border: none;
    background: linear-gradient(225deg,
 rgba(253,149,192,1) 0%,
 rgba(195,95,204,1) 20%,
 rgba(175,104,241,1) 50%,
 rgba(175,104,241,1) 80%,
 rgba(168,125,255,1) 100%) no-repeat;
    color: white;
    padding: 15px 30px;
    font-size: 1.4em;
    border-radius: 15px;
    text-transform: capitalize;
}

.continue:hover {
    background: linear-gradient(225deg,
    #D3566C 0%,
    #DB6073 20%,
    #DD6B6D 50%,
    #E18E6D 80%,
    #E2AA7F 100%) no-repeat;
    cursor: pointer;
}